<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.SignUpMapper">
	
	<select id="loginList" resultType="com.project.dto.SignUpDto">
		SELECT * from pw;
	</select>

	<insert id="signUp">
		insert into pw (id,pw) values (#{id},#{pw})
	</insert>
	
	<select id="signIn" resultType="com.project.dto.SignUpDto">
		select * from pw where id=#{id}
	</select>
	
	<select id="countById" resultType="int">
		select count(*) from pw where id = #{id}
	</select>
	
	<select id="selectId" resultType="boolean">
		select count(*) from pw where id = #{id}
	</select>
	
	
</mapper>