<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.WeightMapper">
	
	<select id="getWeight" resultType="com.project.dto.WeightDto">
	    SELECT * from weight_graph
	</select>
	
	<select id="searchList" resultType="com.project.dto.WeightDto">
		SELECT * from weight_graph where id = 
		#{id}
	</select>
	
	<insert id="setterWeight">
		insert into weight_graph (id,weight,height) values (#{id},#{weight},#{height})
	</insert>
	
	<delete id="del">
		delete from weight_graph where no = #{id}
	</delete>
	
	
</mapper>